@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700;800&family=REM:wght@200;300;400;500;600;700;800&display=swap');

/* variables css */

:root {
  --clr-hueso: #eeeeff;
  --clr-sun: #ffbb00;
  --clr-night: #00081f;
  --clr-gray: #202020;
  --clr-turquesa: #00ffea;
  --clr-verde:#6ea146;
  --clr-azul:rgb(3, 39, 116);
  --clr-fondo: #f2f2f2;
  --clr-celeste:#0099ff;
  --clr-amarillo:rgb(198, 227, 92);
}

/* ajustes globales y principales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
}

header {
  width: 100%;
  margin: 0 20px;
  height: fit-content;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  overflow: hidden;
  z-index: 999;
}

.marquesina {
  width: 100%;
  background: var(--clr-fondo);
  align-items: center;
  display: flex;
  height: 20px;
  justify-content: center;
  font-size: 0.7em;
  top: 0;
  z-index: 999999;
}

/* barra de navegacion con logo */

.c__navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;
  transition: 0.3s ease;
  z-index: 2;
  background-color: #000;
}

.c__navbar .fa-bars {
  display: none;
  color: var(--clr-hueso);
  font-size: 2em;
  margin-right: 10px;
  transition: 0.3s ease;
  cursor: pointer;
}

.c__navbar .fa-bars:hover {
  color: var(--clr-celeste);
}

.c__navbar .c__logo {
  display: flex;
  align-items: center;
  transition: 0.3s ease;
}

.c__navbar .c__logo:hover {
  cursor: pointer;
}

.c__navbar .c__logo p {
  color: white;
  font-size: 45px;
  font-weight: 500;
  transition: 0.3s ease;
}

.c__navbar .c__logo i {
  font-size: 45px;
  color: var(--clr-celeste);
  transform: rotateZ(10deg);
  margin-right: 3px;
  transition: 0.3s ease;
}

.c__navbar .c__logo:hover i {
  color: #ffffff;
  text-shadow: 1px 1px 12px var(--clr-celeste);
}

.c__navbar .c__logo:hover p {
  color: var(--clr-celeste);
  text-shadow: 0px 0px 3px #ffffff;
}

.c__navbar ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 0 20px;
  transition: 0.3s ease;
}

.c__navbar ul li {
  list-style: none;
}

.c__navbar ul li a {
  text-decoration: none;
  color: var(--clr-hueso);
  font-size: 0.95em;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease;
}

.c__navbar ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background: var(--clr-celeste);
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: width 0.3s ease, opacity 0.3s;
}

.c__navbar ul li a:hover::after {
  width: 100%;
  opacity: 1;
}

.c__navbar ul li a:hover {
  color: var(--clr-celeste);
}

.c__navbar ul li .active {
  color: var(--clr-celeste);
}

/* header sticky */

header.scrolled {
  max-width: 1000px;
  width: 100%;
  top: 10px;
  border-radius: 100px;
  box-shadow: 1px 1px 10px #00000091;
}

/* menu responsive */

.r__menu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.911);
  overflow: hidden;
}

.r__menu .fa-circle-xmark {
  font-size: 3em;
  color: #fff;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.r__menu .fa-circle-xmark:hover {
  color: red;
}

.r__menu .c__logo {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.r__menu .c__logo p {
  font-size: 4em;
  color: #fff;
  font-weight: 700;
}

.r__menu .c__logo i {
  font-size: 4em;
  color: var(--clr-celeste);
  transform: rotateZ(20deg);
  margin-right: 3px;
}

.r__menu .menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
}

.r__menu .menu li {
  list-style: none;
  margin-bottom: 10px;
}

.r__menu .menu li a {
  font-size: 1.8em;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.r__menu .menu li a:hover {
  color: var(--clr-celeste);
}

/* main */

main {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 20px;
  align-items: center;
}

.areaPromocional {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: space-between;
}

.slider {
  max-width: 1000px;
  width: 100%;
  height: 400px;
  align-self: center;
  position: relative;
  background: #000116;
  border-radius: 10px;
  overflow: hidden;
  top: 100px;
  margin-bottom: 100px;
}

.slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}

.slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 1s;
}

.slider .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .slide .slideInfo {
  width: fit-content;
  position: absolute;
  color: #222;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  padding: 20px 20px 30px 20px;
  left: 50px;
  bottom: 50px;
}

.slider .slide .slideInfo h2 {
  font-size: 1.5em;
  font-weight: 700;
}

.slider .slide .slideInfo p {
  font-size: 0.9em;
  font-weight: 400;
  margin-bottom: 40px;
}

.slider .slide .slideInfo a {
  text-decoration: none;
  padding: 7px 15px;
  background: #000;
  color: var(--clr-hueso);
  border-radius: 30px;
}

.slider .slide .slideInfo a:hover {
  background: #0019fc;
  box-shadow: 0 0 15px #0019fc;
  transition: 0.1s ease;
}

.slider .navigation {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider:hover .navigation {
  opacity: 1;
}

.prev-btn,
.next-btn {
  z-index: 999;
  font-size: 2em;
  color: #222;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  padding: 10px;
  cursor: pointer;
}

.prev-btn {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.next-btn {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.prev-btn:hover,
.next-btn:hover {
  background: #0019fc;
  box-shadow: 0 0 15px #0019fc;
  color: var(--clr-hueso);
  transition: 0.1s ease;
}

.slider .navigation-visibility {
  z-index: 999;
  display: flex;
  justify-content: center;
}

.slider .navigation-visibility .slideIcon {
  width: 10px;
  height: 10px;
  z-index: 999;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  transform: translateY(-30px);
  margin: 0 7px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 5px 25px #202020;
}

.slider .navigation-visibility .slideIcon.active {
  background: #0019fc;
  box-shadow: 0 0 15px #0019fc;
}

.promo {
  width: fit-content;
  background: brown;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: end;
}

.promo img {
  position: absolute;
  object-fit: cover;
  height: 300px;
  border-radius: 10px;
  margin-right: 10px;
}

/* productos */

.c__cabeceraTienda {
  max-width: 1040px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 0 20px;
}

.cabeceraTienda {
  max-width: 1000px;
  width: 100%;
  background: var(--clr-night);
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: 700;
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 10px;
}

.cabeceraTienda .fa-gem {
  transform: rotateZ(10deg);
  color: #00eeff;
  margin-right: 2px;
}

.cabeceraTienda button {
  border: none;
  padding: 0 15px;
  border: 2px solid var(--clr-turquesa);
  border-radius: 10px;
  background: var(--clr-night);
  color: var(--clr-turquesa);
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
}

.cabeceraTienda button .fa-cart-shopping {
  color: var(--clr-turquesa);
}

.cabeceraTienda button:hover {
  background: var(--clr-hueso);
  color: var(--clr-night);
}

.cabeceraTienda button:hover i {
  color: var(--clr-night);
}

.cabeceraTienda button .carritoContador {
  display: inline-block;
  font-size: 15px;
  transform: translateY(-8px) translateX(-4px);
  color: rgb(72, 255, 0);
  background: #0000008c;
  padding: 0 1px;
  border-radius: 10px;
}

/* modal carrito */

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.modal-contenido {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid var(--clr-turquesa);
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-contenido img {
  width: 100px;
  border-radius: 10px;
  border: 1px solid var(--clr-turquesa);
  margin-right: 10px;
  object-fit: cover;
}

.modal-contenido ul li {
  display: flex;
}

.modal-contenido h2 {
  text-align: center;
  margin-bottom: 20px;
}

.modal-contenido p {
  font-weight: 700;
}

.modal-contenido .cr {
  font-size: 0.7em;
  width: 200px;
  font-weight: 400;
  margin-bottom: 5px;
}

.modal-contenido ul li button {
  padding: 3px 5px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: red;
  color: #fff;
  cursor: pointer;
}

.modal-contenido ul li button:hover {
  background: #000;
  color: #fff;
}

.modal-contenido .pTotal {
  font-size: 1.5em;
  font-weight: 900;
  margin-top: 40px;
  text-align: center;
}

.modal-contenido ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.cerrar-modal {
  position: absolute;
  font-size: 4em;
  font-weight: 900;
  right: 30px;
  top: 10px;
  color: #fff;
  cursor: pointer;
}

.cerrar-modal:hover {
  color: red;
}

.modal-contenido .comprar {
  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid #000;
  background: lawngreen;
  margin-top: 10px;
  font-weight: 900;
  cursor: pointer;
  transition: 0.3s ease;
}

.modal-contenido .comprar:hover {
  border-color: lawngreen;
  background: #fff;
}

/* Tienda */

.tienda {
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.tienda .producto {
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #06003b69;
  box-shadow: 0 3px 6px 1px rgba(0,0,0,.2);
  overflow: hidden;
}

.tienda .producto:hover {
  transform: scale(0.99);
  transition: 0.3s ease;
}

.tienda .producto .fotoProducto {
  height: 250px;
  display: flex;
  justify-content: end;
}

.tienda .producto .fotoProducto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tienda .producto .fotoProducto .etiquetaProducto {
  padding: 10px 15px;
  border-radius: 100px;
  box-shadow: 1px 3px 7px #30303081;
  position: absolute;
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lawngreen;
  font-size: 0.8em;
  font-weight: 900;
}

.tienda .producto .infoProducto {
  height: fit-content;
  padding: 10px;
  background: var(--clr-night);
  color: var(--clr-hueso);
  display: flex;
  flex-direction: column;
}

.tienda .producto .infoProducto h2 {
  font-size: 1.3em;
  font-weight: 900;
  margin-bottom: 7px;
}

.tienda .producto .caracteristicas {
  font-size: 0.8em;
  margin-bottom: 7px;
}

.tienda .producto .precioProducto {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.tienda .producto .agregarCarrito {
  width: 150px;
  align-self: center;
  padding: 10px 10px;
  background: #006eff;
  color: white;
  border: none;
  border-radius: 10px;
  margin-right: 5px;
  font-weight: 700;
  cursor: pointer;
}

.tienda .producto .agregarCarrito:hover {
  background: #fff;
  color: #000;
}

.tienda .producto .agregarCarrito i {
  color: white;
  margin-right: 5px;
}

.tienda .producto .agregarCarrito:hover i {
  color: #000;
}

/* API */

#cotizacion {
  max-width: 1000px;
  width: 100%;
  background-color: #f2f2f2;
  border: 2px solid var(--clr-celeste);
  padding: 10px;
  margin: 20px auto 0 auto;
  border-radius: 10px;
  font-size: 16px;
}

#cotizacion p {
  margin: 5px 0;
}

/* Banners inferiores */

.bannerPromo {
  max-width: 1000px;
  width: 100%;
  height: auto;
  box-shadow: 2px 2px 10px #74747448;
  margin: 20px;
  border-radius: 10px;
}

.miniBanners {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 10px;
}

.miniBanners img {
  width: 49%;
  box-shadow: 2px 2px 10px #74747448;
  border-radius: 10px;
}

/* footer */

.letraschicas{
  color:#767676;
  font-size:small;
  margin-bottom: 10px;
}
.c_redes{
  cursor: url("https://img.icons8.com/nolan/32/hand-cursor.png"), auto;
}
.linea {
  border-top: 1px solid #ffffff;
  height: 2px;
  max-width: 250px;
  padding: 0;
  margin-left: 610px;
}


footer {
  width: 100%;
  height: fit-content;
  background: rgb(0, 0, 0);
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer .c__footer {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content:center;
  margin: 40px 0;
  overflow: hidden;
}

footer .siteMap {
  width: 400px;
  display: flex;
  flex-direction:column;
}

footer .siteMap h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 30px;
}

footer .siteMap a {
  text-decoration: none;
  color: var(--clr-amarillo);
  margin-bottom: 10px;
}

footer .siteMap a:hover {
  color: #fff;
  font-weight: 100;
  transform: scale(1);
  transform: translateX(1px);
}

footer .map {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .map h3{
  color: white;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 30px; 
}

.imgmap {
  display: flex;
  flex-direction: column;
  filter: brightness(0.5);
  align-items: center;
  width: 100%;
}

footer .redes {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .redes h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 30px;
}

footer .c_redes {
  display: flex;
  gap: 20px;
}

footer .redes i {
  color: var(--clr-amarillo);
  font-size: 24px;
  margin-bottom: 30px;
}

footer .redes i:hover {
  color: #fff;
  transform: scale(1.2);
}

/* media queryes */

@media screen and (max-width: 1024px) {

  .r__menu.show {
    display: flex;
  }
  
  .c__navbar {
  justify-content: space-between;
  }

  .c__navbar .c__logo {
    margin-left: 30px;
  }

  .c__navbar .fa-bars {
    display: block;
    margin-right: 30px;
  }

  .c__navbar ul {
    display: none;
  }

  .tienda {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .tienda .producto {
    width: 100%;
  }

  .bannerPromo {
    width: 100%;
  }

  .miniBanners {
    width: 100%;
  }

  .c__footer {
    max-width: 1000px;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: center;
  }

  .c__footer .siteMap {
    width: 100%;
  }

  .c__footer .redes {
    width: fit-content;
    margin-top: 30px;
  }

  .c__footer .map {
    width: 100%;
    margin-top: 30px;
  }

  .c__footer .map .imgmap {
    width: 400px;
  }
}

@media screen and (max-width: 720px) {
  .r__menu.show {
    display: flex;
  }

  .tienda {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}

@media screen and (max-width: 530px) {

  .tienda {
  grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

}

