{% extends "base.html" %}

{% block content %}
{% load static %}
<section class="seccion">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'tienda/image/hombre-negocios-usando-dispositivos-tecnologia-e-iconos-interfaz-linea-delgada.avif' %}"
                    class="d-block w-100" alt="Asesoramiento y asistencia">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Asistencia y Asesoramiento</h5>
                    <p>Nuestros equipos se encuentran integrados por profesionales capaces de asesorar y asistir
                        en el desarrollo de los proyectos de nuestros clientes.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'tienda/image/experiencia-programacion-persona-que-trabaja-codigos-computadora.avif' %}"
                    class="d-block w-100" alt="Servicios">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Nuestros Servicios</h5>
                    <p>Nuestros técnicos pueden proveerle el mejor servico posventa y de mantenimiento para su
                        empresa o negocio.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'tienda/image/prod-tecnologicos.avif' %}" class="d-block w-100" alt="Productos">
                <div class="carousel-caption d-none d-md-block text_carrousel">
                    <h5>Nuestros Productos</h5>
                    <p>En nuestros locales podrá encontrar toda clase de productos de Herdware y Software para
                        potenciar su empresa.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <h5>Bienvenidos a ByteCrafters</h5>
    <p>
        En ByteCrafters, estamos dedicados a impulsar el éxito de su negocio a
        través de soluciones informáticas innovadoras y efectivas. Con una
        profunda pasión por la tecnología y un compromiso inquebrantable con
        la excelencia, nuestra misión es ayudarlo a alcanzar sus metas
        empresariales, superar desafíos y prosperar en el mundo digital en
        constante evolución.
    </p>
    <h5>Nuestra Experiencia</h5>
    <p>
        Con años de experiencia en el sector de tecnología de la información,
        hemos construido un equipo altamente capacitado y apasionado que
        comprende la complejidad de las soluciones informáticas modernas.
        Desde la consultoría estratégica hasta el desarrollo de software a
        medida, nuestro conocimiento y experiencia son sus activos más
        valiosos en el viaje hacia el éxito.
    </p>
    <h5>Lo que Ofrecemos</h5>
    <ul class="lista">
        <li>
            <p>
                Consultoría Tecnológica: Nuestros expertos evaluarán sus
                necesidades, analizarán sus procesos y les ofrecerán estrategias
                personalizadas para mejorar la eficiencia y la competitividad de
                su negocio.
            </p>
        </li>
        <li>
            <p>
                Desarrollo de Software: Creamos aplicaciones y sistemas a medida,
                que se adaptan perfectamente a sus objetivos y requisitos
                específicos.
            </p>
        </li>
        <li>
            <p>
                Servicios de Soporte: Estamos disponibles para brindarle el
                soporte técnico que necesita, garantizando que su operación nunca
                se vea interrumpida.
            </p>
        </li>
        <li>
            <p>
                Seguridad Informática: Protegemos su negocio contra las amenazas
                cibernéticas, garantizando la integridad y la confidencialidad de
                sus datos.
            </p>
        </li>
        <li>
            <p>
                Tecnologías Emergentes: Mantenemos un ojo en las últimas
                tendencias tecnológicas y ayudamos a su empresa a adoptar las
                soluciones más avanzadas.
            </p>
        </li>
    </ul>
</section>

{% endblock %}