{% extends 'base.html' %} {% block content %}

<h5>Algunos de nuestros Productos</h5>
<p>Hardware:</p>
<ul>
  <li>Computadoras de escritorio.</li>
  <li>Laptops y portátiles.</li>
  <li>Servidores empresariales.</li>
  <li>Dispositivos de almacenamiento (discos duros, SSD, unidades NAS).</li>
  <li>
    Componentes de hardware (tarjetas gráficas, procesadores, placas base,
    etc.).
  </li>
  <li>Periféricos (teclados, ratones, monitores, impresoras).</li>
</ul>
<p>Software:</p>
<ul>
  <li>Sistemas operativos (Windows, macOS, Linux).</li>
  <li>Suites de productividad (Microsoft Office, Google Workspace).</li>
  <li>Software de seguridad (antivirus, cortafuegos).</li>
  <li>Software de desarrollo (entornos de desarrollo integrado, IDE).</li>
  <li>
    Aplicaciones empresariales (software de contabilidad, gestión de proyectos,
    CRM).
  </li>
</ul>
<p>Soluciones de Seguridad Informática:</p>
<ul>
  <li>Software de seguridad empresarial.</li>
  <li>Soluciones de cifrado de datos.</li>
  <li>Cortafuegos y sistemas de detección de intrusos (IDS/IPS).</li>
</ul>
<p>Hardware de Red y Comunicaciones:</p>
<ul>
  <li>Dispositivos de seguridad de red (firewalls).</li>
  <li>Routers y switches.</li>
</ul>
<p>Equipos y Soluciones de Virtualización:</p>
<ul>
  <li>Plataformas de virtualización (VMware, Hyper-V).</li>
  <li>Servidores virtuales.</li>
</ul>
<p>Dispositivos y Soluciones de Almacenamiento:</p>
<ul>
  <li>Unidades de almacenamiento en red (NAS).</li>
  <li>Unidades de estado sólido (SSD).</li>
</ul>
<p>Hardware y Software de Seguridad de Red:</p>
<ul>
  <li>Software de monitoreo de seguridad.</li>
</ul>
<p>
  Estos son ejemplos de los productos que nuestra empresa puede ofrecer. La
  elección de productos dependerá de sus necesidades específicas. Es importante
  para nosotros trabajar con nuestros clientes en estrecha colaboración para
  poder seleccionar los productos y soluciones que mejor se adapten a sus
  requerimientos.
</p>

{% endblock %}
